body{
    background-image: url(../image/svg/waves.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.myaccount_user, .woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message, .woocommerce div.message {
    margin-bottom: 25px;
    position: relative;
    display: block;
    padding: 28px 21px;
    background-color: #fff;
    line-height: 38px;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    color: #303030;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 17px;
}